<!-- templates/index.html -->
<html>
<title>registerAccount</title>
<head>
<meta charset="UTF-8">
<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.36/dist/web3.min.js" integrity="sha256-nWBTbvxhJgjslRyuAKJHK+XcZPlCnmIAAMixz6EefVk=" crossorigin="anonymous"></script></script>
<script language="javascript" type="text/javascript" src="/static/js/main.js"></script>
<script language="javascript" type="text/javascript" src="/static/js/abi.js"></script>
</head>
<body>
    objectname<br>
    <input name="objectname" id="objectname" type="text" value="" /><br>
    owenername<br>
    <input name="owenername" id="owenername" type="text" value="" /><br>
    index<br>
    <input name="index" id="index" type="text" value="" /><br>
    <p><button onclick="registerInfo()">登録</button></p><br>
    アカウント番号：<br>
    <input name="readindex" id="readindex" type="number" value="" /><br>
    <p><button onclick="showInfo()">アカウント情報表示</button></p><br>
    <ul id="AccountInfo"></ul>
</body>
</html>